{% extends "base.html" %}

{% block content %}
<h1>Instapaper daily</h1>
<p class="major">Email to your inbox with few instapaper articles every day, in case you forgot to read it.</p>
<p>If you still don't want to read it, maybe it's not that important though, this service will archive it for you. sweet!</p>
<ul class="actions vertical">
	<li><a href="/accounts/login/" class="button big wide smooth-scroll-middle">Login with Instapaper</a></li>
</ul>

<p>Source code available <a href="https://github.com/tzangms/instapaperdaily">here on github</a>, created by <a href="https://twitter.com/tzangms">@tzangms</a></p>
{% endblock %}
